


html {
  font-family: 'PT Sans', sans-serif;
  position: relative;
  min-height: 100%;
}

#main, header, footer, #sidebar {
  margin: auto;
  max-width: 35em;
}

body {
  margin-bottom: 50px;
  font-size: 18px;
}

footer {
  position: absolute;
  bottom: 0;
}

@media(min-width: 880px) {
  #main_container {
    position: relative;
  }

  #sidebar {
    max-width: 10em;
    position: absolute;
    top: 0px;
    margin: auto;
    margin-left: 20px;
  }
}

p {
  text-align: justify;
}

pre {
  padding: 10px;
  border: 1px solid #e1e1e8;
  border-radius: 5px;
  font-size: 14px;
}
