


html {
  font-family: 'PT Sans', sans-serif;
  position: relative;
  min-height: 100%;
}

#main, header, footer, #sidebar {
  margin: auto;
  max-width: 30em;
}

body {
  margin-bottom: 50px;
}

footer {
  position: absolute;
  bottom: 0;
}

@media(min-width: 880px) {
  #main_container {
    position: relative;
  }

  #sidebar {
    max-width: 10em;
    position: absolute;
    top: 0px;
    margin: auto;
    margin-left: 20px;
  }
}