<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{- partial "head.html" . -}}
  <body>
    <div id="content">
      {{- partial "header.html" . -}}
      <main>
        <div id="main_container">
          <div id="main">
            <!-- {{ .Content }} -->
            {{ range where (last 3 .Pages.ByDate.Reverse) "Type" "blog" }}
              <h1 id="title">{{ .Title }}</h1>
              <small>{{ .Date.Format "January 02, 2006" }}</small>
              {{ .Content }}
            {{ end }}
          </div>
          {{ partial "sidebar.html" . }}
        </div>
      </main>
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>